{{ define "main" }}
<section aria-label="Quick links">
  <p></p>
  <nav>
    <ul class="list-none p-0">
      {{ range .Site.Data.links.links }}
      <li class="mb-4">
        <a href="{{ .url }}" class="flex items-center p-0 bg-white border-2 border-stone-300 rounded-full no-underlin transition-colors hover:bg-stone-100">
          {{ if .image }}
            <div class="bg-stone-700 p-3 rounded-full">
              {{ $image := resources.Get .image }}
              <img src="{{ $image.RelPermalink }}" alt="" class="h-10 w-10 invert object-contain rounded-md">
            </div>
          {{ end }}
          <div class="flex-1 text-center mr-10 text-lg font-bold text-stone-700">
            {{ .name }}
            {{ if strings.HasPrefix .url "http" }}
              <span class="sr-only">(opens in new tab)</span>
            {{ end }}
          </div>
        </a>
      </li>
      {{ end }}
    </ul>
  </nav>
</section>
{{ end }}
