# Credentials
cal-creds.json
!pyproject.json

# Database
data/*.db
data/*.db-litestream

# Session logs
logs/

# Python
__pycache__/
*.pyc
.venv/

.env
cal-creds.json

website/public/

node_modules/
hugo_stats.json

.DS_Store

report.html
notes/