baseURL = 'https://mpls.bike/'
languageCode = 'en-us'
title = 'Minneapolis Cycling Events'

[params]
  description = "Minneapolis cycling events, group rides, races, and local bike clubs. Your community calendar for Twin Cities cyclists."
  images = ["/images/bike3.png"]

[markup]
  [markup.goldmark]
    [markup.goldmark.renderer]
      unsafe = true

[build]
  [build.buildStats]
    enable = true
  [[build.cachebusters]]
    source = 'hugo_stats\.json'
    target = 'css'
  [[build.cachebusters]]
    source = '(postcss|tailwind)\.config\.js'
    target = 'css'
[module]
  [[module.mounts]]
    source = 'assets'
    target = 'assets'
  [[module.mounts]]
    disableWatch = true
    source = 'hugo_stats.json'
    target = 'assets/notwatching/hugo_stats.json'